.country-list {
display: flex;
align-items: center;
flex-direction: column;

}
// .elem-country{
   
// }
.country-elem{
    color: #9e9c9c;
    font-size: 24px;
}
.country-elem:hover{
    color: #7ba7ab;
    cursor: pointer;
}

