.country-list {
display: flex;
align-items: center;
flex-direction: column;

}
// .elem-country{
   
// }
.link-country{
    color: #9e9c9c;
    font-size: 24px;
}
.link-country:hover{
    color: #7ba7ab;
}

