.serch {
  background: #a3d0c3;
  padding: 30px 0;

}
.title {
  margin-bottom: 20px;
  font-size: 36px;
    text-align: center;
    color: #f9f0da;

}
.serch input {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #7ba7ab;
  border-radius: 5px;
  outline: none;
  background: #f9f0da;
  color: #9e9c9c;
}
