form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
.serch {
  background: #a3d0c3;
  padding: 30px 0;
}
.serch input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #7ba7ab;
  border-radius: 5px;
  outline: none;
  background: #f9f0da;
  color: #9e9c9c;
}
.serch button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: #7ba7ab;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.serch button:before {
  content: "\279C";
  font-family: FontAwesome;
  font-size: 16px;
  color: #f9f0da;
}
